#UpdateContainer {
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f9fc; /* Light blue background */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 6rem;
    width: 40%;
  }
  .facUpdate{
    margin-bottom: -1rem;
  }